* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a4 {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
    z-index: 2;
    font-family: 'Tahoma', sans-serif;
}

.a4-body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.a4-body .order-details {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
}

.a4-body .order-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #fff;
    color: #000;
    /* border: 1px solid #ddd; */
    padding: 8px;
}

.a4-body .order-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

.a4-body .order-details td {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

.a4-body .a4-body-title {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-decoration: underline;
}

.a4-header .dashed {
    display: block;
    border: 1px dashed #ddd;
}

.a4-header .dashed:nth-child(2) {
    margin-top: 10px;
}

.a4-header .a4-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}